.first {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  color: black;
  display: inline block; }

body {
  font-family: "Roboto", sans-serif !important;
  background-color: #bcdb98 !important; }

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 8px auto;
  text-align: center;
  height: 20px;
  color: black; }

.gif1 {
  margin-left: 516px; }

.ole {
  font-size: 20px; }

.clear {
  clear: both; }

.header {
  height: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300; }

.header li {
  position: relative;
  float: left;
  line-height: 60px;
  list-style: none;
  background: inherit;
  text-align: center;
  transition: all .2s; }

.header li a {
  position: relative;
  display: block;
  padding: 0 20px;
  line-height: inherit;
  color: black;
  text-decoration: none; }

.header li a:hover {
  color: black; }

.brand {
  font-size: 30px;
  width: 60%;
  text-align: left !important;
  float: none; }

.nav ul {
  list-style: none;
  position: absolute;
  left: -9999px;
  opacity: 0;
  -webkit-transition: 0.25s linear opacity; }
.nav ul li {
  padding-top: 1px;
  float: none;
  background: url(dot.gif); }
.nav ul a {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  padding: 0; }
.nav li:hover ul {
  left: 0;
  opacity: 1; }
.nav li:hover a {
  background: oldlace;
  text-decoration: underline; }
.nav li:hover ul a {
  text-decoration: none;
  -webkit-transition: -webkit-transform 0.075s linear; }
.nav li:hover ul li a:hover {
  background-color: #9fd7de !important;
  text-decoration: underline;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05); }

.rt {
  text-align: right !important; }

.img1 {
  float: right;
  margin: 20px; }

.text {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  color: black; }

.inline-block {
  margin: 0px; }

.inline-block {
  font-size: 1em;
  text-align: start; }

.inline-block .column {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: black;
  display: inline-block;
  border: 1px solid black; }

.float {
  margin: 0 auto;
  position: relative; }

@keyframes bgc {
  from {
    background-color: papayawhip; }
  to {
    background-color: pink; } }
@media screen and (max-width: 1280px) {
  .column {
    width: 100% !important; }

  .gif1 {
    width: 100%;
    margin: 0 auto; } }
.gif1 img {
  width: 100%;
  max-width: 600px; }

.tea {
  padding: 20px !important; }

.tea h3 {
  text-align: left;
  margin-top: 15px; }

a:hover {
  text-decoration: none !important;
  outline: none; }

.tea p, .tea h1 {
  margin-bottom: 10px; }

/*# sourceMappingURL=output.css.map */
