{
	
	font-family: Verdana;
}
body{position: relative;
	/*background-image: url(zxc.jpg);
	background-repeat: no-repeat;	
	background-size: 100%;
	height: 800px
	font-size:20px;
	background-attachment: fixed;*/
	background-color: papayawhip;
}
.qwerty{
	margin: 250px auto;
	/* margin-left: 720px; */
}
h1 {
	text-align: center;
}

form {
	margin: 0 auto;
	text-align: center;
}

form label,
form p span {
	font-size: 25px;
}
