body { display :200px; 
	background-color: lightyellow;
	align-items: center; 
	  height: 60px;
    margin: 60px;
    padding: 0;}
.tik{ display :50px;
    position: fixed; 
    bottom: 15px; 
    right: 15px; 
    
}