.anketa{
	width: 700px;
	position: absolute;
	left: 50%;
	margin-left: 25px;
}


.firstname{

}

label { 
	margin: 30px auto; 

	margin: 40px; 
} 
.table { 
	border: 2px solid #00FA9A; 
	margin: auto 600px; 
	padding: 35px 20px; 
	text-align: center; 
	background-color: #7FFFD4; 
} 

.butt { 
	margin: 30px 0px 10px; 
} 



h1 { 
	font-style: italic;  
	color: blue;
} 

span { 
	display: block; 
	text-align: left; 
	font-size: 20px; 
	margin-left: 35px; 
	font-family: arial; 
}